:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f1f5f8;
}

.header-container {
  display: none;
  flex-direction: column;
  height: 49vh;
  background-size: cover;
}

#add-new-book {
  width: 20%;
  position: relative;
  left: 40%;
}

.form {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 60%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.form-control {
  width: 100%;
  font-size: 1rem;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}

.form-control label {
  width: 100px;
  float: left;
  text-align: center;
}

.form-control input {
  border: none;
  outline: none;
  font-size: 1.1rem;
  width: 70%;
  float: left;
}

.add-btn {
  width: 100%;
  background: white;
  border: none;
  color: #4caf50;
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 auto;
}

.form-control.success input {
  border-color: var(--success-color);
}

.alert-success-style {
  position: relative;
  top: -1rem;
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: relative;
  bottom: 0;
  left: 0;
  visibility: hidden;
  margin: 1rem;
}

.form-control.error small {
  visibility: visible;
}

.action-btns {
  border-top: 1px solid rgb(206, 206, 206);
  padding-top: 8px;
}

.read-btn {
  background-color: #45a049;
}

h2 {
  position: relative;
  left: 35%;
  color: #007bff;
}

.btn-ghost { color: #007bff; }

.btn-ghost:hover { color: #4b7097; }

.table-div {
  position: relative;
  top: 1.5rem;
}
